<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.mybatis.mapper.CarMapper">
    <insert id="insert">
        INSERT INTO t_car VALUES (null, #{carNum}, #{brand}, #{guidePrice}, #{produceTime}, #{carType})
    </insert>
    <delete id="deleteById">
        DELETE FROM t_car WHERE id = #{id}
    </delete>
    <update id="update">
        UPDATE t_car
        SET car_num      = #{carNum},
            brand        = #{brand},
            guide_price  = #{guidePrice},
            produce_time = #{produceTime},
            car_type     = #{carType}
        WHERE id = #{id}
    </update>
    <select id="selectById" resultType="com.f.mybatis.pojo.Car">
        SELECT
            car_num as carNum,
            brand,
            guide_price as guidePrice,
            produce_time as produceTime,
            car_type as carType
        FROM t_car
        WHERE id = #{id}
    </select>
    <select id="selectAll" resultType="com.f.mybatis.pojo.Car">
        SELECT
            car_num as carNum,
            brand,
            guide_price as guidePrice,
            produce_time as produceTime,
            car_type as carType
        FROM t_car
    </select>
</mapper>